<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Lojas</title>
</head>
<body>
    <h1>Cadastro de Lojas</h1>
    <form action="/submit" method="POST">
        <label for="loja">Loja:</label>
        <input type="text" id="loja" name="loja"><br><br>

        <label for="ip">IP:</label>
        <input type="text" id="ip" name="ip"><br><br>

        <label for="dns">DNS:</label>
        <input type="text" id="dns" name="dns"><br><br>

        <label for="http">Porta HTTP:</label>
        <input type="text" id="http" name="http"><br><br>

        <label for="tcp">Porta TCP:</label>
        <input type="text" id="tcp" name="tcp"><br><br>

        <label for="gateway">Gateway:</label>
        <input type="text" id="gateway" name="gateway"><br><br>

        <label for="ddns">DDNS:</label>
        <input type="text" id="ddns" name="ddns"><br><br>

        <label for="cameras">Quantidade de câmeras:</label>
        <input type="number" id="cameras" name="cameras"><br><br>

        <label for="horario">Horário de abertura e fechamento:</label>
        <input type="text" id="horario" name="horario"><br><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>